.LoginForm {
  .wrapper {
    display: grid;
    align-items: start;
    gap: 15px;
  }

  .loginBottom {
    display: flex;
    justify-content: flex-end;
  }

  .title {
    margin-bottom: 10px;
  }

  .error {
    margin-bottom: 7px;
  }
}
