:root {
  --font-family-main: "Source Sans 3", sans-serif;
  --font-size-sxs: 13px;
  --font-line-sxs: 1.3;
  --font-sxs: var(--font-size-sxs) / var(--font-line-sxs) var(--font-family-main);
  --font-size-xs: 14px;
  --font-line-xs: 1.3;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
  --font-size-sm: 16px;
  --font-line-sm: 1.3;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
  --font-size-m: 18px;
  --font-line-m: 1.3;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 1.3;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 34px;
  --font-line-xl: 1.3;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // dimensions
  --sidebar-width: 250px;
  --sidebar-width-collapsed: 70px;

  // animation
  --animation-time: 0.3s;

  // dimensions
  --height-input: 36px;

  // colors
  --overlay-color: rgb(0 0 0 / 30%);
  --white-color: #fff;
  --error-primary: #ff0101;
  --error-secondary: #b00202;
}
