.Text {
  .title {
    font: var(--font-m);
    font-weight: 500 !important;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .text {
    font: var(--font-sm);
  }

  &.sizeSXS {
    .title {
      font: var(--font-sxs);
    }

    .text {
      font: var(--font-sxs);
    }
  }

  &.sizeXS {
    .title {
      font: var(--font-xs);
    }

    .text {
      font: var(--font-xs);
    }
  }

  &.sizeSM {
    .title {
      font: var(--font-sm);
    }

    .text {
      font: var(--font-xs);
    }
  }

  &.sizeM {
    .title {
      font: var(--font-m);
    }

    .text {
      font: var(--font-sm);
    }
  }

  &.sizeL {
    .title {
      font: var(--font-l);
    }

    .text {
      font: var(--font-m);
    }
  }

  &.sizeXL {
    .title {
      font: var(--font-xl);
    }

    .text {
      font: var(--font-l);
    }
  }

  &.error {
    .title {
      color: var(--error-primary);
    }

    .text {
      color: var(--error-secondary);
    }
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.regular {
    .title {
      font-weight: 400;
    }

    .text {
      font-weight: 400;
    }
  }

  &.medium {
    .title {
      font-weight: 500;
    }

    .text {
      font-weight: 500;
    }
  }

  &.bold {
    .title {
      font-weight: 700;
    }

    .text {
      font-weight: 700;
    }
  }

  &.black {
    .title {
      font-weight: 900;
    }

    .text {
      font-weight: 900;
    }
  }
}
