.ProfileForm {
  display: grid;
  gap: 20px;
  width: 100%;

  .header {
    min-height: 32px;
  }

  .header,
  .bottom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    pointer-events: auto;
  }

  .form {
    min-height: 200px;
    width: 100%;
  }

  &.readonly {
    .bottom {
      button {
        filter: grayscale(100%);
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  @media (max-width: 772px) {
    .btnSave {
      width: 100%;
    }
  }
}
