.Button{
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  padding: 5px 10px;
}

.clean{
  padding: 5px;
}
.icon {
  padding: 5px;
  svg{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
}
.squareFill{
  width: 32px;
  height: 32px;
  background-color: var(--bg-module);
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
}