.Button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  padding: 5px 10px;
  border-radius: var(--border-radius-small);
  font-weight: 700;
  pointer-events: auto;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
  }
}

.clean {
  padding: 5px;
}

.icon {
  padding: 5px;

  svg {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.circle {
  border-radius: 50%;
}

.background {
  background-color: var(--bg-module);
  border: 1.5px solid var(--bg-module);
}

.withIcon {
  display: flex;
  align-items: center;
  gap: var(--gap5);

  svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-color);

    @media (max-width: 772px) {
      width: 16px;
      height: 16px;
    }
  }
}

.center {
  justify-content: center;
}

.border {
  border: 1.5px solid var(--primary-color);

  &:hover {
    animation: pulse-border 1s !important;
  }
}

.border_error {
  border: 1.5px solid var(--error-primary);
  color: var(--error-primary);

  &:hover {
    animation: pulse-error 1s !important;
  }
}

.border_error_light {
  border: 1.5px solid var(--error-secondary);
  color: var(--error-secondary);

  &:hover {
    animation: pulse-error-light 1s !important;
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  padding: 3px;
}

.square.squareXS {
  width: 24px;
  height: 24px;
}

.square.squareSM {
  width: 28px;
  height: 28px;
}

.square.squareM {
  width: 32px;
  height: 32px;
}

.square.squareL {
  width: 38px;
  height: 38px;
}

.squareXS {
  font: var(--font-xs);
}

.squareSM {
  font: var(--font-sm);
}

.squareM {
  font: var(--font-m);
}

.squareL {
  font: var(--font-l);
}

.max {
  width: 100%;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--bg-module); }
}

@keyframes pulse-error {
  0% { box-shadow: 0 0 0 0 var(--error-primary); }
}

@keyframes pulse-error-light {
  0% { box-shadow: 0 0 0 0 var(--error-secondary); }
}

@keyframes pulse-border {
  0% { box-shadow: 0 0 0 0 var(--primary-color); }
}
