.Sidebar {
  width: var(--sidebar-width);
  background-color: var(--bg-module);
  transition: width var(--animation-time) cubic-bezier(.42, 0, .58, 1) 0s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.list {
  margin: 15px;

  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  ;
  }
}

//
//.burgerBtn {
//  display: flex;
//  position: relative;
//  width: 24px;
//  height: 15px;
//  margin: 15px 15px 15px auto;
//  cursor: pointer;
//  transition: all var(--animation-time);
//  .itemBtn {
//    display: block;
//    position: absolute;
//    width: 100%;
//    height: 3px;
//    background-color: var(--module-color);
//    border-radius: 2.5px;
//    transition: all var(--animation-time);
//    &:nth-child(1) {
//      top: 0;
//    }
//    &:nth-child(2) {
//      top: 50%;
//      transform: translateY(-50%);
//    }
//    &:nth-child(3) {
//      bottom: 0;
//    }
//  }
//  .collapsed &  {
//    transform: rotate(0deg);
//    margin: 15px 28px 15px auto;
//    .itemBtn {
//      &:nth-child(1) {
//        transform: rotate(45deg);
//        top: 18.5%;
//      }
//
//      &:nth-child(2) {
//        right: 10%;
//        width: 90%;
//      }
//
//      &:nth-child(3) {
//        transform: rotate(-45deg);
//        bottom: 18.5%;
//      }
//
//      &:nth-child(1),
//      &:nth-child(3) {
//        width: 50%;
//        right: -5%;
//      }
//    }
//  }
//}
.burgerBtn {
  display: flex;
  position: relative;
  width: 24px;
  height: 15px;
  margin: 15px 15px 15px auto;
  cursor: pointer;
  transition: all var(--animation-time);

  .itemBtn {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--module-color);
    border-radius: 2.5px;
    transition: all var(--animation-time);
    &:nth-child(1) {
      top: 40%;
      transform: rotate(-45deg);
      transition: all var(--animation-time) 0.15s;
    }

    &:nth-child(2) {
      opacity: 0;
      margin-left: 100%;
      transition: all var(--animation-time);
    }

    &:nth-child(3) {
      bottom: 40%;
      transform: rotate(45deg);
      transition: all var(--animation-time) 0.15s;
    }
  }

  .collapsed & {
    margin: 15px 30px 15px auto;
    .itemBtn {

      &:nth-child(1) {
        top: 0;
        transition: all 0.15s;
        transform: rotate(0deg);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
        opacity: 1;
        transition: all var(--animation-time) var(--animation-time);
      }

      &:nth-child(3) {
        bottom: 0;
        transition: all var(--animation-time);
        transform: rotate(0deg);
      }
    }
  }
}
