.ArticleList {
  display: grid;
  justify-content: center;

  .articles {
    display: flex;
    column-gap: 15px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 705px;
    justify-content: center;
  }

  &.BIG {
    justify-content: stretch;

    .articles {
      display: grid;
      justify-content: stretch;
      max-width: 705px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
