.Code {
  position: relative;
  width: 100%;
  display: grid;
  background-color: var(--bg-input-inverse);
  border-radius: 5px;

  .pre {
    padding: 20px 35px 20px 20px;
    overflow: auto;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .button_copy {
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all var(--animation-time) ease 0s;

    &:hover {
      opacity: 0.6;
    }
  }

  .massage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textMassage {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bg-module);
  }
}
