.AddNewCommentForm {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
  }

  .wrapper {
    position: relative;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
  }

  &.isLoading {
    .button,
    .textarea {
      opacity: 0.6;
      pointer-events: none;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 772px) {
    gap: 15px;
  }
}
