.ArticlePageHeader {
  display: grid;
  gap: 15px;

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 15px;
  }

  .view {
    margin-left: auto;
    padding-bottom: 4px;
  }

  margin-bottom: 20px;
}
