.ArticlePageHeader {
  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
  }

  .view {
    margin-left: auto;
    padding-bottom: 4px;
  }

  margin-bottom: 25px;
}
