.inputWrapper {
  display: flex;
  background-color: var(--bg-input);
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity var(--animation-time) ease 0s;

  input {
    background-color: transparent;
    height: 36px;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    color: inherit;

    &::placeholder {
      opacity: 0.5;
      color: inherit;
    }
  }

  &.isFocus {
    opacity: 1;

    input::placeholder {
      opacity: 0;
    }
  }
}

.inverse-bg {
  background-color: var(--bg-input-inverse);
}
