.ArticleImageBlockComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .image {
    width: 100%;
    justify-self: center;
    object-fit: cover;
    max-height: 500px;
    min-height: 200px;
    border-radius: var(--border-radius-small);

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
