.ArticleImageBlockComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .image {
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
