.Page {
  height: calc(100vh - var(--height-header));
  padding: 15px;
  overflow: auto;

  .title {
    margin-bottom: 25px;
  }

  .trigger {
    height: 3px;
    padding: 2px 1px;
    width: 100%;
    opacity: 0;
  }
}
