.darkTheme {
  --bg-color: #252525;
  --bg-module: #136e7d;
  --bg-module-40: rgb(19 111 125 / 40%);
  --bg-module-80: rgb(19 111 125 / 80%);
  --primary-color: #fdfdfd;
  --secondary-color: #929292;
  --module-color: #fdfdfd;
  --bg-input: #717171;
  --bg-input-inverse: #06444f;
  --bg-color-comment: #363636;
  --bg-gradient-comment: linear-gradient(to bottom, rgb(54 54 54 / 0%), rgb(54 54 54 / 100%) 96%);
  --bg-gradient-link: linear-gradient(90deg, rgb(255 255 255 / 35%) 0%, rgb(255 255 255 / 0%) 100%);
  --box-shadow: 0 10px 15px 0 rgb(34 60 80 / 34%);

  // Skeleton
  --skeleton-color: #06444f;
  --skeleton-shadow: #136e7d;
  --skeleton-shadow-inverse: #252525;
}
