.funnyTheme {
  --bg-color: #00838f;
  --bg-module: #ff6e40;
  --bg-module-40: rgb(255 108 64 / 40%);
  --primary-color: #fff;
  --secondary-color: #929292;
  --module-color: #fff;
  --bg-input: #4dd0e1;
  --bg-input-inverse: #4dd0e1;
  --bg-color-comment: #02707a;
  --bg-gradient-comment: linear-gradient(to bottom, rgb(2 112 122 / 0%), rgb(2 112 122 / 100%) 96%);
  --bg-gradient-link: linear-gradient(90deg, rgb(255 255 255 / 35%) 0%, rgb(255 255 255 / 0%) 100%);
  --box-shadow: rgb(50 50 93 / 25%) 0 2px 5px -1px, rgb(0 0 0 / 30%) 0 1px 3px -1px;

  // Skeleton
  --skeleton-color: #4dd0e1;
  --skeleton-shadow: #ff6e40;
}
