.funnyTheme {
  --bg-color: #00838f;
  --bg-module: #ff6e40;
  --primary-color: #fff;
  --secondary-color: #929292;
  --module-color: #fff;
  --bg-input: #4dd0e1;
  --bg-input-inverse: #4dd0e1;

  // Skeleton
  --skeleton-color: #4dd0e1;
  --skeleton-shadow: #ff6e40;
}
