.lightTheme {
  --bg-color: #fff;
  --bg-module: #abebfc;
  --bg-module-40: rgb(172 235 252 / 40%);
  --bg-module-80: rgb(172 235 252 / 80%);
  --primary-color: #191919;
  --secondary-color: #929292;
  --module-color: #001431;
  --bg-input: #ece9e9;
  --bg-input-inverse: #e7f2f6;
  --bg-color-comment: #f5f5f5;
  --bg-gradient-comment: linear-gradient(to bottom, rgb(245 245 245 / 0%), rgb(245 245 245 / 100%) 96%);
  --bg-gradient-link: linear-gradient(90deg, rgb(255 255 255 / 55%) 0%, rgb(255 255 255 / 0%) 100%);
  --box-shadow: 0 15px 20px  0 rgb(34 60 80 / 44%);

  // Skeleton
  --skeleton-color: #e7f2f6;
  --skeleton-shadow: #abebfc;
  --skeleton-shadow-inverse: #fff;
}
