.lightTheme {
  --bg-color: #fff;
  --bg-module: #abebfc;
  --primary-color: #191919;
  --secondary-color: #929292;
  --module-color: #001431;
  --bg-input: #ece9e9;
  --bg-input-inverse: #e7f2f6;
  --bg-color-comment: #f8f8f8;

  // Skeleton
  --skeleton-color: #e7f2f6;
  --skeleton-shadow: #abebfc;
}
