.lightTheme {
  --bg-color: #fff;
  --bg-module: #abebfc;
  --primary-color: #191919;
  --secondary-color: #929292;
  --module-color: #001431;
  --bg-input: #ece9e9;
  --bg-input-inverse: #e7f2f6;
  --bg-color-comment: #f5f5f5;
  --bg-gradient-comment: linear-gradient(to bottom, rgb(245 245 245 / 0%), rgb(245 245 245 / 100%) 96%);

  // Skeleton
  --skeleton-color: #e7f2f6;
  --skeleton-shadow: #abebfc;
}
