.NotificationButton {
  .trigger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13px;
    height: 13px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--error-primary);
    padding: 2px;
  }

  .content {
    background-color: var(--bg-input-inverse);
    border-radius: var(--border-radius-small);
    padding: 10px 5px 10px 10px;
  }

  .list {
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 5px;               /* ширина scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;       /* закругления плашки */
    }
  }
}
