.item {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: var(--bg-gradient-link);
    transition: all var(--animation-time) ease 0s;
  }

  .link {
    position: relative;
    padding: 15px 24px;
    flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    width: 100%;

    .icon {
      width: 21px;
      height: 21px;
      flex: 0 0 21px;
      fill: var(--primary-color);
    }

    span {
      font-size: var(--font-size-m);
      font-weight: 500;
      transition:
        margin var(--animation-time),
        opacity var(--animation-time);
      margin-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      pointer-events: auto;

      .collapsed & {
        margin: 0;
        opacity: 0;
        pointer-events: none;
      }
    }

    @media (max-width: 992px) {
      padding: 18px 15px 18px 13px;
      align-items: center;
      justify-content: center;
      width: 100%;

      .icon {
        width: 25px;
        height: 25px;
        flex: 1 1 auto;
      }

      span {
        display: none;
      }
    }
  }

  &.active {
    .link {
      border-left: 2px solid var(--primary-color);
    }

    &::before {
      background: var(--bg-gradient-link);
      width: 100%;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
