.Flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: start;
}

.justifyEnd {
  justify-content: end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: end;
}

.alignStretch {
  align-items: stretch;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.gap4 {
  gap: var(--gap4);
}

.gap5 {
  gap: var(--gap5);
}

.gap8 {
  gap: var(--gap8);
}

.gap10 {
  gap: var(--gap10);
}

.gap15 {
  gap: var(--gap15);
}

.gap20 {
  gap: var(--gap20);
}

.gap25 {
  gap: var(--gap25);
}

.gap30 {
  gap: var(--gap30);
}

.max {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}
