.Header {
  background-color: var(--bg-color);
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  color: var(--module-color);
  height: var(--height-header);
}

.logo {
  display: flex;
  align-items: center;

  svg {
    height: 15px;
  }
}

.action {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.themeBtn {
  background-color: red;
}

.item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.icon {
  width: 15px;
  height: 15px;
  flex: 0 0 15px;

  &.red {
    fill: var(--error-secondary);
  }
}
