.ProfileCard {
  position: relative;

  .header {
    display: flex;
    justify-content: center;
  }

  .data {
    width: 100%;
    display: grid;
    gap: 10px;
  }

  .row {
    display: grid;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .column {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }

  .input,
  .inputWithError {
    grid-column: span 6;
  }

  .username {
    grid-column: span 4;
  }

  .avatar {
    grid-column: span 8;
  }

  .age {
    grid-column: span 2;
  }

  .currency {
    grid-column: span 3;
  }

  @media (max-width: 772px) {
    .currency {
      grid-column: span 4;
    }

    .country {
      grid-column: span 6;
    }

    .name {
      grid-column: span 8;
    }
  }

  @media (max-width: 410px) {
    .input,
    .inputWithError {
      grid-column: span 12;
    }

    .username {
      grid-column: span 12;
    }

    .avatar {
      grid-column: span 12;
    }

    .age {
      grid-column: span 12;
    }

    .currency {
      grid-column: span 12;
    }
  }
}
