.AppLink {
  cursor: pointer;
  transition: border-left var(--animation-time) ease 0s;
  border-left: 2px solid transparent;
  box-shadow: 0 0 0 1em transparent;

  &:global.active {
    border-left: 2px solid var(--primary-color);
  }
}

.noActive {
  border: none !important;
}

.clean {
  padding: 0;
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
  }
}

.border {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (any-hover: hover) {
    &:hover {
      animation: pulse-primary 1s;
      box-shadow: 0 0 0 1em transparent;
    }
  }
}

.squareXS {
  font: var(--font-xs);
}

.squareSM {
  font: var(--font-sm);
}

.squareM {
  font: var(--font-m);
}

.squareL {
  font: var(--font-l);
}

@keyframes pulse-primary {
  0% { box-shadow: 0 0 0 0 var(--primary-color); }
}
