.ArticleEditContent {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1 1 auto;

  .loader {
    justify-self: center;
    flex: 1 1 auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header__image {
    position: relative;
    padding-bottom: 25%;
  }

  .header__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .header__avatar {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
  }

  .header__content {
    display: grid;
    align-items: start;
    row-gap: 7px;
  }

  .header__block {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
  }

  .header__icon {
    width: 20px;
    height: 20px;
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  @media (max-width: 772px) {
    gap: 20px;

    .header {
      gap: 10px;
    }

    .header__image {
      padding-bottom: 40%;
    }
  }

  .editBlock {
    padding: 10px;
    border: 1px solid var(--bg-input);
    border-radius: var(--border-radius-small);
  }
}
